# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 729334749be12e98fc7bcd90e4960cc5e76f70e3af790cc449af6f171d317eb6e240804f49b940e569e7a992412629d712663c888480643a9356e967382edd5d
  consumer_key :
  consumer_secret:
  access_token:
  access_token_secret:

test:
  secret_key_base: 583c4f12022a541e24e15d2df1a0e439ef48df97dea8506b985423f9a17537294cd5bdfda86e9fbfe4fa230f658420fb0cc6a88f107b97c3127a744b92d303ea

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  consumer_key : <%= ENV["CONSUMER_KEY"] %>
  consumer_secret: <%= ENV["CONSUMER_SECRET"] %>
  access_token: <%= ENV["ACCESS_TOKEN"] %>
  access_token_secret: 	<%= ENV["ACCESS_TOKEN_SECRET"] %>
